/*
 light green: #89a292
 dark green: #3b3c3e
 orange red: #cf694e
 */

.detected-python-badge {
  width: 200px;
  height: 200px;
}

.detected-python-badge.good {
  background-color: #89a292;
}

.detected-python-badge.ugly {
  background-color: #fc953c;
}

.detected-python-badge.bad {
  background-color: #cf694e;
}
