.stickers-pane {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  position: relative;
}

.stickers-pane__logo {
  display: block;
  margin: 10px;
}

.stickers-pane__logo img {
  height: 100px;
}
