<li id="editor-tab-{{n}}" class="{{#isFirst}}active{{/isFirst}}">
  <a class="editor-tab-a" href="#editor-tab-pane-{{n}}" data-toggle="tab" aria-expanded="false">
    <span class="name">{{ name }}</span><span class="unsaved hide">*</span>&nbsp;<span style="color: red;" onclick="closeActiveTab('{{n}}');">&times;</span>
  </a>
</li>
