<li class="hide" onclick="$('#file-search-list .selected').removeClass('selected'); $(this).addClass('selected'); $('#file-search-form').submit();" data-filename="{{fullFilename}}">
  <a class="filename">{{displayFilename}}</a>
</li>
