<table class="table table-bordered" style="margin-bottom: 0px;">
  <thead>
    <tr>
      <th>Topic</th>
      <th>OSX</th>
      <th>Windows / Linux</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="shortcut-rows">
    <!-- system shortcuts -->
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>enter</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>enter</kbd></td>
      <td>run code</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>,</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>,</kbd></td>
      <td>show preferences</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>g</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>g</kbd></td>
      <td>set default variables</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>Q</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>Q</kbd></td>
      <td>theoretical explanation</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>N</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>N</kbd></td>
      <td>new editor</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8679;</kbd> + <kbd>&#8984;</kbd> + <kbd>O</kbd></td>
      <td> <kbd>&#8679;</kbd> + <kbd><kbd>ctrl</kbd></kbd> + <kbd>O</kbd></td>
      <td>open file</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>s</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>s</kbd></td>
      <td>save file</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>w</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>w</kbd></td>
      <td>close file</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>t</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>t</kbd></td>
      <td>find file</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>opt</kbd> + <kbd>&#8592;</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>opt</kbd> + <kbd>&#8592;</kbd></td>
      <td>move to editor to the left of active editor</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>opt</kbd> + <kbd>&#8594;</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>opt</kbd> + <kbd>&#8594;</kbd></td>
      <td>move to editor to the right of active editor</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>1</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>1</kbd></td>
      <td>focus on editor</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>2</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>2</kbd></td>
      <td>focus on console</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>3</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>3</kbd></td>
      <td>toggle view for Environment/History</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>4</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>4</kbd></td>
      <td>toggle view for Files/Plots/Packages/Help</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>R</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>R</kbd></td>
      <td>restart Rodeo</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>0</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>0</kbd></td>
      <td>default zoom</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>=</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>=</kbd></td>
      <td>zoom in</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>-</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>-</kbd></td>
      <td>zoom out</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>&#8679;</kbd> + <kbd>g</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>&#8679;</kbd> + <kbd>g</kbd></td>
      <td>set working directory</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>&#8679;</kbd> + <kbd>2</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>&#8679;</kbd> + <kbd>2</kbd></td>
      <td>rerun 2nd to last command</td>
    </tr>
    <tr>
      <td>System</td>
      <td><kbd>&#8984;</kbd> + <kbd>&#8679;</kbd> + <kbd>1</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>&#8679;</kbd> + <kbd>1</kbd></td>
      <td>rerun last command</td>
    </tr>
    <!-- console shortcuts -->
    <tr>
      <td>Console</td>
      <td><kbd>&#8984;</kbd>/<kbd>ctrl</kbd> + <kbd>l</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>l</kbd></td>
      <td>clear console</td>
    </tr>
    <tr>
      <td>Console</td>
      <td><kbd>&#8984;</kbd>/<kbd>ctrl</kbd> + <kbd>a</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>a</kbd></td>
      <td>skip to beginning of console</td>
    </tr>
    <tr>
      <td>Console</td>
      <td><kbd>&#8984;</kbd>/<kbd>ctrl</kbd> + <kbd>e</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>e</kbd></td>
      <td>skip to end of console</td>
    </tr>
    <tr>
      <td>Console</td>
      <td><kbd>&#8984;</kbd>/<kbd>ctrl</kbd> + <kbd>c</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>c</kbd></td>
      <td>cancel console input</td>
    </tr>
    <tr>
      <td>Console</td>
      <td><kbd>&#8984;</kbd>/<kbd>ctrl</kbd> + <kbd>u</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>u</kbd></td>
      <td>clear to beginning of console</td>
    </tr>
    <tr>
      <td>Console</td>
      <td><kbd>&#8984;</kbd>/<kbd>ctrl</kbd> + <kbd>k</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>k</kbd></td>
      <td>clear to end of console</td>
    </tr>
    <tr>
      <td>Console</td>
      <td><kbd>&#8984;</kbd>/<kbd>ctrl</kbd> + <kbd>w</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>w</kbd></td>
      <td>clear one word backwards in console</td>
    </tr>
    <tr>
      <td>Console</td>
      <td><kbd><i>tab</i></kbd></td>
      <td><kbd><i>tab</i></kbd></td>
      <td>show autocomplete options</td>
    </tr>
    <!-- Editor shortcuts -->
    <tr>
      <td>Editor</td>
      <td><kbd>&#8984;</kbd> + <kbd>f</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>f</kbd></td>
      <td>find text</td>
    </tr>
    <tr>
      <td>Editor</td>
      <td><kbd><i>tab</i></kbd></td>
      <td><kbd><i>tab</i></kbd></td>
      <td>show autocomplete options</td>
    </tr>
      <tr>
      <td>Editor</td>
      <td><kbd>&#8984;</kbd>/<kbd>ctrl</kbd> + <kbd>/</kbd></td>
      <td><kbd>ctrl</kbd> + <kbd>/</kbd></td>
      <td>comment code</td>
    </tr>
  </tbody>
</table><footer class="container">
  &#x2318; = Command, &#x21E7; = Shift, &#x2190;&#x2191;&#x2192;&#x2193; = Arrow Keys
</footer>
