.plot-viewer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.plot-viewer header {
  position: absolute;
  top: 0;
  left: 0;
}

.plot-viewer > * {
  flex: 4 1 200px;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}

.plot-viewer img {
  max-width: 100%;
}

.plot-viewer nav {
  display: flex;
  flex-direction: column;
  background: #cbcbcb;
  flex: 1 0 100px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  overflow-y: scroll;
  overflow-x: hidden;
}

.plot-viewer .item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 80%;
  cursor: pointer;
  flex: 0 0;
  transition: all 0.2s ease-in-out;
  min-height: 120px;
  transform: rotate(0.01deg);
}

.plot-viewer .item.splash {
  background-size: auto 50%;
  opacity: 0.7;
}

.plot-viewer .item:hover {
  background-color: #f3f3f3;
}

.plot-viewer .item.active {
  background-color: #e3e3e3;
  background-size: auto 90%;
}

.plot-viewer .item.active.splash {
  background-size: auto 60%;
  opacity: 0.8;
}

.suggestion {
  color: #cbcbcb;
}
