{
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": false,
    "chai": false,
    "sinon": false,
    "DS": false,
    "React": false
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true,
      "blockBindings": true,
      "forOf": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandProperties": true,
      "objectLiteralShorthandMethods": true,
      "octalLiterals": true,
      "binaryLiterals": true,
      "templateStrings": true,
      "generators": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "jsx-quotes": 1,
    "react/display-name": 1,
    "react/forbid-prop-types": [1, {"forbid": ["any"]}],
    "react/jsx-boolean-value": 1,
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-curly-spacing": 1,
    "react/jsx-handler-names": 1,
    "react/jsx-indent-props": [1, 2],
    "react/jsx-indent": [1, 2],
    "react/jsx-key": 0,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-literals": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-pascal-case": 1,
    "react/sort-prop-types": 2,
    "react/jsx-sort-props": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 1,
    "react/no-deprecated": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 1,
    "react/no-is-mounted": 1,
    "react/no-multi-comp": 1,
    "react/no-set-state": 0,
    "react/no-string-refs": 0,
    "react/no-unknown-property": 1,
    "react/prefer-es6-class": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 1,
    "react/require-extension": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1,
    "no-extra-parens": [1, "functions"],
    "valid-jsdoc": [1, {
      "requireReturn": false,
      "requireParamDescription": false,
      "requireReturnDescription": false
    }],
    "complexity": [2, 8],
    "default-case": 2,
    "guard-for-in": 2,
    "no-alert": 1,
    "no-floating-decimal": 1,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "no-var": 2,
    "no-void": 2,
    "quote-props": [2, "as-needed"],
    "vars-on-top": 2,
    "wrap-iife": 2,
    "strict": [2, "global"],
    "no-unused-vars": 2,
    "handle-callback-err": [2, "^.*(e|E)rr"],
    "no-mixed-requires": 0,
    "no-new-require": 2,
    "no-path-concat": 2,
    "no-console": 1,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-style": [2, "last"],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "max-nested-callbacks": [2, 5],
    "newline-after-var": [2, "always"],
    "no-nested-ternary": 2,
    "no-spaced-func": 0,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 1,
    "one-var": 2,
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "keyword-spacing": 2,
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "space-infix-ops": [1, {"int32Hint": false}],
    "spaced-comment": [2, "always"],
    "generator-star-spacing": [2, "before"],
    "max-depth": [2, 4],
    "max-params": [2, 4]
  }
}
