.document-terminal-annotation {
  display: block;
  height: auto;
  width: 20%;
  min-width: 100px;
  max-width: 200px;
  overflow: hidden;
  padding: 2px;
  margin: 5px;
  position: relative;
}

.document-terminal-annotation img {
  width: 100%;
  height: auto;
}

.document-terminal-annotation__menu {
  display: block;
}

.document-terminal-annotation__menu .fa {
  margin-right: 2px;
  margin-left: 2px;
}

.document-terminal-annotation__menu .fa:first-child {
  margin-left: 0;
}

.document-terminal-annotation__menu .fa:last-child {
  margin-right: 0;
}
