.document-terminal-annotation {
  overflow: hidden;
  padding: 2px;
  margin: 5px;
  position: relative;
  cursor: pointer;
}

.document-terminal-annotation img {
  width: 100%;
  height: auto;
}

.document-terminal-annotation__image {
  display: block;
  height: auto;
  width: 20%;
  min-width: 100px;
  max-width: 200px;
  overflow: hidden;
  padding: 2px;
  margin: 5px;
  position: relative;
}
