.modal-dialog-instance {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 800px;
  max-height: 90%;
  z-index: 11;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.8s;
  opacity: 0;
  border-radius: 5px;
}

.modal-dialog-instance.modal-dialog-instance-full {
  width: 100%;
}

.modal-dialog-instance.modal-dialog-show {
  opacity: 1;
}

.modal-dialog-instance > header {
  flex: 0 0 10px;
  position: relative;
}

.modal-dialog-instance > footer {
  flex: 0 0 40px;
  position: relative;
}

.modal-dialog-instance button {
  margin-left: 10px;
}
