.tabbed-form-list-dialog {
  position: relative;
  min-height: 400px;
  height: 100%;
}

.tabbed-form-list-dialog > footer {
  bottom: 0;
  right: 0;
  padding: 7px 20px;
  height: 50px;
  text-align: right;
  position: relative;
}

.tabbed-form-list-dialog__content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
  height: calc(100% - 50px);
}
