.modal-dialog-instance {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 1000px;
  max-height: 90%;
  z-index: 11;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.8s;
  opacity: 0;
  border-radius: 2px;
}

.modal-dialog-instance.modal-dialog-instance--small {
  width: 100px;
}

.modal-dialog-instance.modal-dialog-instance--full {
  width: 100%;
  height: 100%;
}

.modal-dialog-instance.modal-dialog-instance--visible {
  opacity: 1;
}

.modal-dialog-instance > header {
  flex: 0 0 10px;
  position: relative;
  background-color: #337ab7;
  color: #fff;
  padding: 2px 12px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-weight: bold;
}

.modal-dialog-instance > footer {
  flex: 0 0 40px;
  position: relative;
}

.modal-dialog-instance button {
  margin-left: 10px;
}
