.gray-info {
  background-color: var(--pane-item-background-color);
  box-shadow: inset 0 1px 1px var(--pane-item-border-color);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  transition: all 0.2s;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.gray-info > * {
  margin-right: 10px;
  white-space: nowrap;
}

.gray-info-link {
  cursor: pointer;
  padding-right: 5px;
  padding-left: 7px;
  border-left: 1px solid var(--pane-item-border-color);
  border-top-left-radius: 7px;
  display: inline-block;
}

.gray-info-link .fa {
  padding-right: 5px;
}

.gray-info-link-list {
  cursor: pointer;
  border-left: 1px solid var(--pane-item-border-color);
  border-top-left-radius: 7px;
  display: inline-block;
}

.gray-info-link-list .gray-info-link {
  border-left: 0;
}

.gray-info-link:hover {
  color: var(--text-color-highlight);
}

.gray-info-link:active {
  color: var(--text-color-active);
}

.gray-info-select {
  position: relative;
}

.gray-info-select .item {
  cursor: pointer;
}

.gray-info-select .item:hover {
  color: var(--text-color-highlight);
}

.gray-info-select .item:active {
  color: var(--text-color-active);
}

.gray-info-select .single-value {
  cursor: pointer;
  padding-right: 5px;
  padding-left: 7px;
  border-left: 1px solid var(--pane-item-border-color);
  border-right: 1px solid var(--pane-item-border-color);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.gray-info-select .options {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 5px;
  padding-left: 7px;
  border-left: 1px solid var(--pane-item-border-color);
  border-right: 1px solid var(--pane-item-border-color);
  border-top: 1px solid var(--pane-item-border-color);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: var(--pane-item-background-color);
  box-shadow: inset 0 1px 1px var(--pane-item-border-color);
}
