.plot-preview {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.plot-preview header {
  position: absolute;
  top: 0;
  left: 0;
}

.plot-preview > * {
  flex: 4 1 200px;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}

.plot-preview img {
  max-width: 100%;
}

.plot-preview nav {
  display: flex;
  flex-direction: column;
  background: #cbcbcb;
  flex: 1 0 60px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100px;
}

.plot-preview .background-plot {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 80%;
  cursor: pointer;
  flex: 0 0;
  transition: all 0.2s ease-in-out;
  min-height: 40px;
  max-width: 100px;
  transform: rotate(0.01deg);
}

.plot-preview .background-plot.splash {
  background-size: auto 50%;
  opacity: 0.7;
}

.plot-preview .background-plot:hover {
  background-color: #f3f3f3;
}

.plot-preview .background-plot.active {
  background-color: #e3e3e3;
  background-size: auto 90%;
}

.plot-preview .background-plot.active.splash {
  background-size: auto 60%;
  opacity: 0.8;
}

.plot-preview .suggestion {
  color: #cbcbcb;
}

.plot-preview .background-plot .action-bar {
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 20px;
  height: 100%;
}

.plot-preview .background-plot .actions {
  transform: translate(20px, 0);
  transition: all 0.2s;
  width: 20px;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.2)
}

.plot-preview .background-plot:hover .actions,
.plot-preview .background-plot.active .actions {
  transform: translate(0, 0);
}
