.file-list {
  position: relative;
  overflow: auto;
  height: 100%;
}

.file-list-item {
  color: #808080;
  padding: 2px 10px;
  display: block;
  cursor: pointer;
}

.file-list-item .fa-before:before {
  padding-right: 6px;
}

.file-list-item:hover {
  background-color: #dddddd;
}

.file-list-item.file-list-item-selected {
  background-color: #95d7ff;
}

.file-list-item.selected:hover {
  background-color: #b7e5ff;
}
