html,
body,
main,
.full-screen {
  height: 100%;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.full-screen--row {
  display: flex;
  flex-direction: row;
}

.full-screen--row > * {
  flex: 1 1;
}

.splitter_panel {
  height: 100%;
}
