.block-terminal-viewer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.block-terminal-viewer .block-history {
  flex-grow: 5;
  overflow-y: auto;
}

.block-terminal-viewer .prompt {
  flex-grow: 0;
  flex-shrink: 0;
}
