<li>
  <a onclick="{{onclick}}">
    <div class="row">
      <div class="col-sm-6">{{text}}</div>
      <div class="col-sm-6 text-right">
        <span style="font-size: 10px;">
          {{shortcut}}
        </span>
      </div>
    </div>
  </a>
</li>
