*,
*:before,
*:after {
  box-sizing: border-box; // Reset the box-sizing
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.428571429; // 20/14
  color: var(--text-color);
}

body {
  background-color: var(--app-background-color);
  margin: 0;
  padding: 0;
}

input,
button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
}

a {
  transition: all 0.2s;
}

textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: inset 0 -1px 0 #ddd;
  font-size: 16px;

  &:focus {
    box-shadow: inset 0 -2px 0 var(--brand-primary);
  }

  &[disabled],
  &[readonly] {
    box-shadow: none;
    border-bottom: 1px dotted #ddd;
  }

  &.input {
    &-sm {
      font-size: smaller;
    }

    &-lg {
      font-size: larger;
    }
  }
}

/* theme components */

/* some components should not be 'highlightable', that is, selectable for copy and paste by dragging the mouse or
   holding down on touch devices */
.text-unselectable,
.text-unselectable * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.theme__link {
  cursor: pointer;
  text-decoration: underline;
}

select,
select.form-control {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 0;
  padding-right: 0\9; // remove padding for < ie9 since default arrow can't be removed
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right center;
  box-shadow: inset 0 -1px 0 #ddd;
  font-size: 16px;
  line-height: 1.5;

  &::-ms-expand {
    display: none;
  }

  &.input {
    &-sm {
      font-size: smaller;
    }

    &-lg {
      font-size: larger;
    }
  }

  &:focus {
    box-shadow: inset 0 -2px 0 var(--brand-primary);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  }

  &[multiple] {
    background: none;
  }
}

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  label {
    padding-left: 25px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-left: -25px;
  }
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: 240ms;
  }

  &:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: var(--brand-primary);
    transform: scale(0);
  }

  &:after {
    position: relative;
    top: -3px;
    border: 2px solid #AAA;
  }

  &:checked:before {
    transform: scale(0.5);
  }

  &:disabled:checked:before {
    background-color: #CCC;
  }

  &:checked:after {
    border-color: var(--brand-primary);
  }

  &:disabled:after,
  &:disabled:checked:after {
    border-color: #CCC;
  }
}

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #AAA;
    border-radius: 2px;
    transition: 240ms;
  }

  &:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    transform: rotate(45deg);
  }

  &:checked:after {
    background-color: var(--brand-primary);
    border-color: var(--brand-primary);
  }

  &:disabled:after {
    border-color: #CCC;
  }

  &:disabled:checked:after {
    background-color: #CCC;
    border-color: transparent;
  }
}

.has-warning {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    box-shadow: inset 0 -2px 0 var(--brand-warning);
  }
}

.has-error {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    box-shadow: inset 0 -2px 0 var(--brand-danger);
  }
}

.has-success {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    box-shadow: inset 0 -2px 0 var(--brand-success);
  }
}

.progress {
  position: relative;
  z-index: 1;
  height: 6px;
  border-radius: 0;

  box-shadow: none;

  &-bar {
    box-shadow: none;

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    &:last-child {
      &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        z-index: -1;
        background-color: var(--brand-primary);
      }
    }

    &-success:last-child.progress-bar:before {
      background-color: var(--brand-success);
    }

    &-info:last-child.progress-bar:before {
      background-color: var(--brand-info);
    }
    &-warning:last-child.progress-bar:before {
      background-color: var(--brand-warning);
    }

    &-danger:last-child.progress-bar:before {
      background-color: var(--brand-danger);
    }
  }
}

.rodeo .public_fixedDataTable_main,
.rodeo .public_fixedDataTable_header,
.rodeo .public_fixedDataTable_hasBottomBorder {
  border-color: var(--table-header-border);
}

.rodeo .fixedDataTableLayout_main {
  border-style: solid;
  border-width: 0;
}

.rodeo .public_fixedDataTableColumnResizerLine_main {
  border-color: var(--action-drag-border);
}

.rodeo .public_fixedDataTableCell_columnResizerKnob {
  background-color: var(--action-drag-border);
}

.rodeo .public_fixedDataTableRow_main {
  background-color: #FFF;
}

.rodeo .public_fixedDataTable_header,
.rodeo .public_fixedDataTable_header .public_fixedDataTableCell_main {
  background-image: none;
}

.rodeo .public_fixedDataTableCell_cellContent {
  padding: 4px;
}

.rodeo .layout-buttons--align-right {
  text-align: right;
  margin-right: 10px;
  margin-left: 10px;
}

.rodeo .layout-label-input {
  padding: 2px 5px;
}

.rodeo .layout-label-input label {
  margin: 5px;
  display: inline-block;
  font-weight: bold;
  max-width: 100%;
}

.rodeo .layout-label-input input,
.rodeo .layout-label-input select {
  font-weight: normal;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 2px;
  font-size: 16px;
  height: 26px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rodeo .layout-label-input input:focus,
.rodeo .layout-label-input select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

.rodeo .layout-label-input select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
}

.rodeo .layout-50-50 {
  display: flex;
}

.rodeo .layout-50-50 > * {
  flex: 1 1;
}

.rodeo .layout-100 {
  display: block;
}

.rodeo .layout-100 > * {
  display: block;
}

.rodeo .layout-75-25 {
  display: flex;
}

.rodeo .layout-75-25 > *:first-child {
  flex: 3 1;
}

.rodeo .layout-75-25 > * {
  flex: 1 1;
}
