$layer5: #000;
$layer4: #222;
$layer3: #333;
$layer2: #555;
$layer1: #777;
$layer0: #eee;

$brand-primary: #337ab7;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
