@import '../../node_modules/font-awesome/scss/font-awesome.scss';

:root {
  --brand-primary: #337ab7;
  --brand-success: #5cb85c;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;

  --yhat-grey: #898989;
  --yhat-orange: #EE5311;
  --yhat-comp-blue: #3694D6;
  --yhat-accent-blue: #338AC7;

  --action-drag-border: var(--yhat-comp-blue);

  --text-color: #aaa;
  --text-color-subtle: #555;
  --text-color-highlight: #ccc;
  --text-color-active: #fff;
  --text-color-selected: var(--text-color-highlight);

  --text-color-info: #5293d8;
  --text-color-success: #2BDA77;
  --text-color-warning: #ff982d;
  --text-color-error: #c00;

  --text-color-ignored: var(--text-color-subtle);
  --text-color-added: var(--text-color-success);
  --text-color-renamed: var(--text-color-info);
  --text-color-modified: var(--text-color-warning);
  --text-color-removed: var(--text-color-error);

  --background-color-info: #0098ff;
  --background-color-success: #17ca65;
  --background-color-warning: #ffaa2c;
  --background-color-error: #c00;
  --background-color-highlight: rgba(255, 255, 255, 0.07);
  --background-color-selected: #4182C4;

  --app-background-color: #333;

  --base-background-color: lighten(#1d1f21, 5%);
  --base-border-color: rgba(0, 0, 0, 0.5);

  --pane-item-background-color: var(--base-background-color);
  --pane-item-border-color: rgba(0, 0, 0, 0.5);

  --input-background-color: #212224;
  --input-border-color: var(--base-border-color);

  --tool-panel-background-color: #1d1f21;
  --tool-panel-border-color: var(--base-border-color);

  --inset-panel-background-color: #161719;
  --inset-panel-border-color: var(--base-border-color);

  --panel-heading-background-color: #43484d;
  --panel-heading-border-color: transparent;

  --overlay-background-color: #202123;
  --overlay-border-color: var(--background-color-highlight);

  --button-background-color: #43484d;
  --button-background-color-hover: lighten(#43484d, 5%);
  --button-background-color-selected: #5c6064;
  --button-border-color: var(--base-border-color);

  --tab-bar-background-color: #222;
  --tab-background-color-active: lighten(#222, 5%);
  --tab-background-color: #333;
  --tab-lift-background-color: #337ab7;
  --tab-border-color: #484848;
  --tab-border-bottom-color: #111;

  --table-header-bg: #777;
  --table-header-text-color: #777;
  --table-border-color: #484848;
  --table-background-color: #222;
  --table-row-background-color: #333;
  --table-alt-row-background-color: lighten(#333, 5%);

  --tree-view-background-color: #303030;
  --tree-view-border-color: var(--tool-panel-border-color);

  --scrollbar-background-color: #222425; // Needs to be opaque -> atom/atom/issues/4578
  --scrollbar-color: rgba(92, 92, 92, 0.5);

  --ui-site-color-1: var(--background-color-success); // green
  --ui-site-color-2: var(--background-color-info); // blue
  --ui-site-color-3: var(--background-color-warning); // orange
  --ui-site-color-4: #db2ff4; // purple
  --ui-site-color-5: #f5e11d; // yellow

  --font-size: 11px;
  --input-font-size: 14px;
  --disclosure-arrow-size: 12px;

  --component-padding: 10px;
  --component-icon-padding: 5px;
  --component-icon-size: 16px;
  --component-line-height: 25px;
  --component-border-radius: 2px;

  --tab-height: 26px;
  --font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}

/* structure */

@import 'structure';
