.document-terminal-viewer {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}

.document-terminal-viewer .gray-info {
  flex-grow: 0;
  flex-shrink: 0;
}

.document-terminal-viewer .prompt {
  margin-left: 10px;
  margin-right: 10px;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  transition: color 1s;
}

.document-terminal-viewer .empty-suggestion.empty-suggestion--visible {
  opacity: 1;
}

.document-terminal-viewer .empty-suggestion {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  top: 0;
  z-index: -1;
}

