.search-text-box {
  border-radius: 8px;
  box-shadow: 1px 2px 5px 1px #aaa;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 22px;
}

.search-text-box .search-text-box-icon {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0;
  display: inline-block;
  margin: 0;
  line-height: 16px;
  padding: 3px;
  padding-left: 6px;
}

.search-text-box input {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0;
  width: 30px;
  transition: width 0.4s;
  display: inline-block;
  margin: 0;
  line-height: 16px;
  padding: 3px;
  padding-right: 6px;
  vertical-align: top;
}

.search-text-box input:hover {
  width: 60px;
}

.search-text-box input:focus {
  width: 160px;
}
