/* The console container element */
#console {
  position: relative;
  width: 100%;
  height: 230px;
  background-color: white;
}
.jqconsole {
    background-color: white;
    font-size: 10px;
}
/* The inner console element. */
.jqconsole, pre {
  border: 0px;
}
/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: black;
}
/* The command history */
.jqconsole-old-prompt {
    color: black;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: black;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: black;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: black;
}

.jqconsole-error {
    color: red;
}

.panel-console {
  border-color: black;
}
 .panel-console > .panel-heading {
    background-color: black;
}

