<tr>
  <td>{{name}}</td>
  <td>{{type}}</td>
  <td style="td-align: center;">
    <a href="#" onclick="showVariable('{{name}}', '{{type}}');"><span class='fa {{#compare type "DataFrame"}}fa-table{{/compare}}{{#compare type "list"}}fa-list-alt{{/compare}}' aria-hidden='true'></span></a>
  </td>
</tr>
