<div class="tab-pane active" id="editor-tab-pane-preferences" style="height: 100%;">
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#editor" data-toggle="tab">Editor</a></li>
      <li><a href="#theme" data-toggle="tab">Theme</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="editor">
        <br>
        <div class="form-group">
          <label for="editorTheme">Color Scheme</label>
          <select onchange="setEditorTheme($(this).val());" class="form-control" name="editorTheme" id="editorTheme">
            <option value="ace/theme/chrome" {{#compare editorTheme 'ace/theme/chrome' }}selected{{/compare}}>light</option>
            <option value="ace/theme/idle_fingers" {{#compare editorTheme 'ace/theme/idle_fingers' }}selected{{/compare}}>dark</option>
          </select>
        </div>
        <div class="form-group">
          <label for="keyBindings">Key Bindings:</label>
          <select onchange="setKeyBindings($(this).val());" class="form-control" name="keyBindings" id="keyBindings">
            <option value="default" {{#compare keyBindings 'default'}}selected{{/compare}}>default</option>
            <option value="ace/keybindings/vim" {{#compare keyBindings 'ace/keybindings/vim'}}selected{{/compare}}>vim</option>
            <option value="ace/keybindings/emacs" {{#compare keyBindings 'ace/keybindings/emacs'}}selected{{/compare}}>emacs</option>
          </select>
        </div>
        <div class="form-group">
          <label for="fontSize">Font Size</label>
          <input onchange="setFontSize($(this).val());" class="form-control" id="fontSize" name="fontSize" type="number" step="1" value="{{fontSize}}" min="8" max="20" />
        </div>
        <div class="checkbox">
          <label>
            <input onchange="setAutoSave($(this).prop('checked'));" type="checkbox" {{#autoSave}}checked{{/autoSave}}> AutoSave Files
          </label>
        </div>
      </div>
      <div class="tab-pane" id="theme">
        <br>
        <div class="form-group">
          <label for="theme">Theme</label>
          <select onchange="setTheme($(this).val());" class="form-control" name="theme" id="theme">
            <option value="light" selected>light</option>
            <option value="presentation">presentation</option>
            <option value="dark">dark</option>
          </select>
        </div>
      </div>
      <div class="tab-pane" id="layout">
        <div class="row" style="height: 100px;">
          <div class="col-sm-2" style="height: 100px; background-color: skyblue;">
          </div>
          <div class="col-sm-2" style="height: 100px; background-color: grey;">
          </div>
        </div>
        <div class="row" style="height: 100px;">
          <div class="col-sm-2" style="height: 100px; background-color: grey;">
          </div>
          <div class="col-sm-2" style="height: 100px; background-color: skyblue;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
