<div class="tab-pane active" id="editor-tab-pane-preferences" style="height: 100%;">
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#general" data-toggle="tab">General</a></li>
      <li><a href="#editor" data-toggle="tab">Editor</a></li>
    </ul>
    <div class="tab-content" style="height: 100%;">

      <!-- General Tab -->
      <div class="tab-pane active" id="general">
        <br>
        <div class="form-group">
          <label for="theme">Theme</label>
          <select onchange="setTheme($(this).val());" class="form-control" name="theme" id="theme">
            <option value="css/styles.css" {{#compare theme 'css/styles.css' }}selected{{/compare}}>light</option>
            <option value="css/styles-presentation.css" {{#compare theme 'css/styles-presentation.css' }}selected{{/compare}}>presentation</option>
            <option value="css/styles-dark.css" {{#compare theme 'css/styles-dark.css' }}selected{{/compare}}>dark</option>
            <option value="css/styles-cobalt.css" {{#compare theme 'css/styles-cobalt.css' }}selected{{/compare}}>cobalt</option>
          </select>
        </div>
        <div class="form-group">
          <label for="defaultWorkingDirectory">
            Default Working Directory
            <a data-toggle="tooltip" data-placement="right" title="<p class='small'>This is the default directory that Rodeo will open on launch.</p>" data-html="true"><i class="fa fa-question-circle"></i></a>
          </label>
          <input onclick="var me = $(this); pickDirectory('Select a Default Working Directory', USER_WD, function(dir) { if (dir) { $(me).val(dir); setDefaultWd($(me).val()); }});" class="form-control" id="defaultWorkingDirectory" name="defaultWorkingDirectory" value="{{defaultWd}}" />
        </div>
        <div class="form-group">
          <label for="pythonCmd">
            Default Python Command
            <a data-toggle="tooltip" data-placement="right" title="<p class='small'>The <code>python</code> command that Rodeo will use. Some operating systems (OSX in particular) ship with multiple versions of Python installed. This can be confusing and it is sometimes difficult to determine which <code>python</code> is the 'right one'.</p>" data-html="true"><i class="fa fa-question-circle"></i></a>
          </label>
          <input onchange="setPythonCmd($(this).val());" class="form-control" id="pythonCmd" name="pythonCmd" value="{{pythonCmd}}" placeholder="/usr/local/bin/python"/>
        </div>
        <div class="checkbox">
          <label>
            <input onchange="setDisplayDotFiles($(this).prop('checked'));" type="checkbox" {{#displayDotFiles}}checked{{/displayDotFiles}}> Display Dot Files
            <a data-toggle="tooltip" data-placement="right" title="<p class='small'>When checked, 'dotfiles' and directories (i.e. `.git`) will be displayed. NOTE: When updated, this will take affect upon restart.</p>" data-html="true"><i class="fa fa-question-circle"></i></a>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input onchange="setTracking($(this).prop('checked'));" type="checkbox" {{#trackingOn}}checked{{/trackingOn}}> Tracking Metrics
            <a data-toggle="tooltip" data-placement="right" title="<p class='small'>When checked, <strong>anonymous</strong> usage metrics will be reported back to <span style='color: #ee5311;'>&ycirc;</span>hat.</p>" data-html="true"><i class="fa fa-question-circle"></i></a>
          </label>
        </div>
      </div>
      <!-- End General Tab -->

      <!-- Editor Tab -->
      <div class="tab-pane in" id="editor">
        <br>
        <div class="form-group">
          <label for="editorTheme">Color Scheme</label>
          <select onchange="setEditorTheme($(this).val());" class="form-control" name="editorTheme" id="editorTheme">
            <option value="ace/theme/ambiance" {{#compare editorTheme 'ace/theme/ambiance' }}selected{{/compare}}>ambiance</option>
            <option value="ace/theme/chaos" {{#compare editorTheme 'ace/theme/chaos' }}selected{{/compare}}>chaos</option>
            <option value="ace/theme/chrome" {{#compare editorTheme 'ace/theme/chrome' }}selected{{/compare}}>chrome (default)</option>
            <option value="ace/theme/clouds" {{#compare editorTheme 'ace/theme/clouds' }}selected{{/compare}}>clouds</option>
            <option value="ace/theme/clouds_midnight" {{#compare editorTheme 'ace/theme/clouds_midnight' }}selected{{/compare}}>clouds midnight</option>
            <option value="ace/theme/cobalt" {{#compare editorTheme 'ace/theme/cobalt' }}selected{{/compare}}>cobalt</option>
            <option value="ace/theme/crimson_editor" {{#compare editorTheme 'ace/theme/crimson_editor' }}selected{{/compare}}>crimson editor</option>
            <option value="ace/theme/dawn" {{#compare editorTheme 'ace/theme/dawn' }}selected{{/compare}}>dawn</option>
            <option value="ace/theme/dreamweaver" {{#compare editorTheme 'ace/theme/dreamweaver' }}selected{{/compare}}>dreamweaver</option>
            <option value="ace/theme/eclipse" {{#compare editorTheme 'ace/theme/eclipse' }}selected{{/compare}}>eclipse</option>
            <option value="ace/theme/github" {{#compare editorTheme 'ace/theme/github' }}selected{{/compare}}>github</option>
            <option value="ace/theme/idle_fingers" {{#compare editorTheme 'ace/theme/idle_fingers' }}selected{{/compare}}>idle fingers</option>
            <option value="ace/theme/katzenmilch" {{#compare editorTheme 'ace/theme/katzenmilch' }}selected{{/compare}}>katzenmilch</option>
            <option value="ace/theme/kr_theme" {{#compare editorTheme 'ace/theme/kr_theme' }}selected{{/compare}}>kr theme</option>
            <option value="ace/theme/kuroir" {{#compare editorTheme 'ace/theme/kuroir' }}selected{{/compare}}>kuroir</option>
            <option value="ace/theme/merbivore" {{#compare editorTheme 'ace/theme/merbivore' }}selected{{/compare}}>merbivore</option>
            <option value="ace/theme/merbivore_soft" {{#compare editorTheme 'ace/theme/merbivore_soft' }}selected{{/compare}}>merbivore soft</option>
            <option value="ace/theme/mono_industrial" {{#compare editorTheme 'ace/theme/mono_industrial' }}selected{{/compare}}>mono industrial</option>
            <option value="ace/theme/monokai" {{#compare editorTheme 'ace/theme/monokai' }}selected{{/compare}}>monokai</option>
            <option value="ace/theme/pastel_on_dark" {{#compare editorTheme 'ace/theme/pastel_on_dark' }}selected{{/compare}}>pastel on dark</option>
            <option value="ace/theme/solarized_dark" {{#compare editorTheme 'ace/theme/solarized_dark' }}selected{{/compare}}>solarized dark</option>
            <option value="ace/theme/solarized_light" {{#compare editorTheme 'ace/theme/solarized_light' }}selected{{/compare}}>solarized light</option>
            <option value="ace/theme/terminal" {{#compare editorTheme 'ace/theme/terminal' }}selected{{/compare}}>terminal</option>
            <option value="ace/theme/textmate" {{#compare editorTheme 'ace/theme/textmate' }}selected{{/compare}}>textmate</option>
            <option value="ace/theme/tomorrow" {{#compare editorTheme 'ace/theme/tomorrow' }}selected{{/compare}}>tomorrow</option>
            <option value="ace/theme/tomorrow_night" {{#compare editorTheme 'ace/theme/tomorrow_night' }}selected{{/compare}}>tomorrow night</option>
            <option value="ace/theme/tomorrow_night_blue" {{#compare editorTheme 'ace/theme/tomorrow_night_blue' }}selected{{/compare}}>tomorrow night blue</option>
            <option value="ace/theme/tomorrow_night_bright" {{#compare editorTheme 'ace/theme/tomorrow_night_bright' }}selected{{/compare}}>tomorrow night bright</option>
            <option value="ace/theme/tomorrow_night_eighties" {{#compare editorTheme 'ace/theme/tomorrow_night_eighties' }}selected{{/compare}}>tomorrow night eighties</option>
            <option value="ace/theme/twilight" {{#compare editorTheme 'ace/theme/twilight' }}selected{{/compare}}>twilight</option>
            <option value="ace/theme/vibrant_ink" {{#compare editorTheme 'ace/theme/vibrant_ink' }}selected{{/compare}}>vibrant ink</option>
            <option value="ace/theme/xcode" {{#compare editorTheme 'ace/theme/xcode' }}selected{{/compare}}>xcode</option>
          </select>
        </div>
        <div class="form-group">
          <label for="keyBindings">Key Bindings</label>
          <select onchange="setKeyBindings($(this).val());" class="form-control" name="keyBindings" id="keyBindings">
            <option value="default" {{#compare keyBindings 'default'}}selected{{/compare}}>default</option>
            <option value="ace/keybindings/vim" {{#compare keyBindings 'ace/keybindings/vim'}}selected{{/compare}}>vim</option>
            <option value="ace/keybindings/emacs" {{#compare keyBindings 'ace/keybindings/emacs'}}selected{{/compare}}>emacs</option>
          </select>
        </div>
        <div class="form-group">
          <label for="fontSize">Font Size</label>
          <input onchange="setFontSize($(this).val());" class="form-control" id="fontSize" name="fontSize" type="number" step="1" value="{{fontSize}}" min="8" max="20" />
        </div>
        <div class="checkbox">
          <label>
            <input onchange="setAutoSave($(this).prop('checked'));" type="checkbox" {{#autoSave}}checked{{/autoSave}}> AutoSave Files
          </label>
        </div>
      </div>
      <!-- End Editor Tab -->

      <!-- Layout Tab -->
      <div class="tab-pane" id="layout">
        <div class="row" style="height: 100px;">
          <div class="col-sm-2" style="height: 100px; background-color: skyblue;">
          </div>
          <div class="col-sm-2" style="height: 100px; background-color: grey;">
          </div>
        </div>
        <div class="row" style="height: 100px;">
          <div class="col-sm-2" style="height: 100px; background-color: grey;">
          </div>
          <div class="col-sm-2" style="height: 100px; background-color: skyblue;">
          </div>
        </div>
      </div>
      <!-- End Layout Tab -->
    </div>
  </div>
</div>
