<table class="table table-bordered">
  <thead>
    <tr>
      <th>Keys</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CMD + FOO</td>
      <td>Alerts you with FOO</td>
    </tr>
  </tbody>
</table>
