.sidebar {
  height: 100%;
  flex: 0 0 52px;
  font-size: 10px;
}

.sidebar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
  background-color: #337ab7;
}

.sidebar-top {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.sidebar-item {
  cursor: pointer;
  flex: 0 0 60px;
  transition: all 0.4s;
  color: #efefef;
  padding: 4px;
  text-align: center;
}

.sidebar-top .sidebar-item {
  /* things in the top have bigger names but better images */
  font-size: 8px;
}

.sidebar-item span:first-child {
  display: block;
  font-size: 28px;
  line-height: 28px;
  padding-top: 3px;
}

.sidebar-item img {
  max-width: 40px;
  max-height: 40px;
}

.sidebar-item:last-child {
  margin-bottom: 15px;
}

.sidebar-item:hover {
  cursor: pointer;
  background-color: #8DC8FB;
}

.sidebar-item:active {
  cursor: pointer;
  background-color: #D1EAFF;
}
