.about-rodeo {
  padding: 20px;
  max-width: 600px;
  position: relative;
}

.about-rodeo img {
  max-height: 200px;
  width: 90%;
}

.about-rodeo button {
  margin: 10px auto 10px auto;
  display: block;
}

.about-rodeo .version {
  top: 0;
  right: 0;
  position: absolute;
  margin: 10px 16px;
}
