.about-rodeo {
  padding: 20px;
}

.about-rodeo img {
  max-height: 200px;
  width: 90%;
}

.about-rodeo button {
  margin: 20px;
  margin-top: 0;
}

.about-rodeo .version {
  top: 0;
  right: 0;
  position: absolute;
  margin: 10px 16px;
}
