.tab-text {
  height: 40px;
  display: inline-block;
  float: right;
  margin-right: 8px;
  padding: 7px;
  color: #AAA;
  font-size: smaller;
  transition: all 0.2s;
}

.tab-text:hover {
  color: #555;
  font-size: inherit;
}
