.tab-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 50px;
  padding: 6px 8px 4px;
  border-bottom: 1px solid var(--tab-border-bottom-color);
  box-shadow: inset -1px -1px 2px var(--tab-border-color);
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  background-color: var(--tab-background-color);
}

.tab-item:active {
  color: var(--text-color-active);
}

.tab-item--active {
  background-color: var(--tab-background-color-active);
}

.tab-item .tab-item__label {
  transition: all 0.2s;
}

.tab-item--active .tab-item__label {
  transform: translate(0, -2px);
  color: var(--text-color-highlight);
}

.tab-item .tab-item__lift {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  transition: height 0.2s;
  background-color: var(--tab-lift-background-color);
}

.tab-item--active .tab-item__lift {
  height: 2px;
}
