.tab-button {
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 50px;
  padding: 6px 8px 4px;
  display: inline-block;
  border-style: hidden;
  cursor: pointer;
  transition: all 0.2s;
}

.tab-button:hover {
  color: var(--text-color-highlight);
}

.tab-button:active {
  color: var(--text-color-active);
}

.tab-button .fa {
  margin-right: 5px;
}
