ul.tab-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  flex: 0 0;
  border-bottom: 1px solid #dddddd;
}

ul.tab-list > li {
  display: inline-block;
  position: relative;
  min-height: 30px;
  vertical-align: top;
}
