/*noinspection CssOptimizeSimilarProperties*/
.tab-overflow-image a {
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: 40% 60%;
  display: block;
  padding: 6px 10px 4px 8px;
  color: transparent;
  cursor: pointer;
}
