.tab-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  flex: 0 0;
  border-bottom: 1px solid var(--tab-border-bottom-color);
}

.tab-list::-webkit-scrollbar {
  display: none;
}

.tab-list > li {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
