.image-block {
  margin: 10px;
  border-radius: 5px;
  padding: 6px;
  padding-top: 2px;
  border: 1px solid #ddd;
  box-shadow: 1px 2px 3px #999;
  color: #333;
  position: relative;
  transition: all 0.2s;
}

.image-block:focus {
  box-shadow: 0 2px 15px #4eaaff, 1px 2px 3px #999;
  outline: none;
}

.image-block--expanded {
  overflow: auto;
}

.image-block--compressed {
  overflow: hidden;
}

.image-block__contents-outer {
  overflow: hidden;
  border-top: 1px solid #ccc;
}

.image-block > header {
  font-size: 10px;
  font-weight: bold;
  color: #aaa;
  text-transform: lowercase;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
}

.image-block img {
  width: 100%;
}
