html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
}

.splitter_panel {
  height: 100%;
}

/* override bootstrap :( to move the tabs tightly together*/
.nav > li > a[data-toggle="tab"] {
  padding: 10px
}

/* override bootstrap :( to stop adding an underline for non-tabs */
.nav-tabs > li > a.not-tab:hover,
.nav-tabs > li > a.not-tab:focus:hover {
  box-shadow: none;
}

/* override bootstrap because negative margins are evil */
main .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.icon-overflowing:before {
  /* 4x for retina: of all the icons, this should look the best */
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(rodeo-logo.4x.png);
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
}

.icon-overflowing:first-child {
  margin-left: 15px;
}

.icon-overflowing span {
  display: inline-block;
}
