.preferences-tab {
  cursor: pointer;
  padding: 10px 15px;
}

.preferences-tab:first-child {
  border-top-left-radius: 5px;
}

.preferences-tab:hover {
  background-color: #e1e1e1;
}

.preferences-tab.disabled {
  background-color: inherit;
  color: grey;
  cursor: default;
}

.preferences-tab.disabled:hover {
  background-color: inherit;
}

.preferences-tab.preferences-tab-active {
  background-color: #cbcbcb;
}
