.hat {
  position: absolute;
  left: -5px;
  top: 8px;
  width: 50px;
  height: auto;
}

#bottom-left {
    padding: 0 0 0 0;
}

.editor {
  height: 100%;
  position: absolute;
}

.tab-pane {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}

/*
thead, tbody, tr, td, th {
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    overflow-y: auto;
}


tbody td, thead th {
    width: 33%;
    float: left;
}
*/
