.slideout-dialog {
  position: absolute;
  transition: all 0.4s;
  background-color: #337ab7;
}

.slideout-dialog iframe {
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 10px;
}

.slideout-dialog.slideout-dialog-show {
  width: 500px;
  height: 100%;
  z-index: 9000;
  right: 0;
  margin-right: 52px;
  overflow: hidden;
}
