.gray-info {
  height: 20px;
  background-color: #ebebeb;
  box-shadow: inset 0 1px 1px #dddddd;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #666;
  transition: all 0.2s;
  white-space: nowrap;
}

.gray-info > * {
  margin-right: 10px;
  white-space: nowrap;
}

.gray-info-link {
  cursor: pointer;
  padding-right: 5px;
  padding-left: 7px;
  border-left: 2px solid #dddddd;
  border-top-left-radius: 7px;
  display: inline-block;
}

.gray-info-link .fa {
  padding-right: 5px;
}

.gray-info-link-list {
  cursor: pointer;
  border-left: 2px solid #dddddd;
  border-top-left-radius: 7px;
  display: inline-block;
}

.gray-info-link-list .gray-info-link {
  border-left: 0;
}

.gray-info-link:hover {
  color: #999;
}

.gray-info-link:active {
  color: #bbb;
}

.gray-info-select {
  position: relative;
}

.gray-info-select .item {
  cursor: pointer;
}

.gray-info-select .item:hover {
  color: #999;
}

.gray-info-select .item:active {
  color: #bbb;
}

.gray-info-select .single-value {
  cursor: pointer;
  padding-right: 5px;
  padding-left: 7px;
  border-left: 2px solid #dddddd;
  border-top: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.gray-info-select .options {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 5px;
  padding-left: 7px;
  border-left: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
  border-top: 2px solid #dddddd;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #ebebeb;
  box-shadow: inset 0 1px 1px #dddddd;
}
