html {
  height: 100%
}

/* Most things drag the window around. */
body {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  height: 100%;
}

main {
  height: 100%;
}

/* Buttons and inputs don't drag the window around */
button, input {
  -webkit-app-region: no-drag;
}

.setup-ready {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.setup-ready > * {
  flex: 0 1 100px;
}


