<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rodeo</title>
    <link href="{{ url_for('static', filename='css/bootstrap.yeti.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/terminal.css') }}" rel="stylesheet">
    <style>
        .hat {
          position: absolute;
          left: -5px;
          top: 8px;
          width: 50px;
          height: auto;
        }
        .big-hat {
          position: relative;
          left: 295px;
          top: 165px;
          width: 200px;
          height: auto;
        }
    </style>
</head>
<body>

  <!-- start nav -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="hat" src="{{ url_for('static', filename='img/cowboy-hat.svg') }}" title="Yee Haw!"/ >
        <a class="navbar-brand" href="//yhathq.com/"><span style="color: #ee5311;">&ycirc;</span><span class="color: #898989">hat</span></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li>
            <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rodeo</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a>Rodeo {{ version }}</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end nav -->

  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <img class="big-hat" src="{{ url_for('static', filename='img/cowboy-hat.svg') }}" title="Yee Haw!"/ >
        <h1>Rodeo from <span style="color: #ee5311;">&ycirc;</span><span class="color: #898989;">hat</span></h1>
        <p>Rodeo is an IDE for Python that's built for doing data analysis.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="{{ url_for('static', filename='img/screenshot-mpl-complex-small.png') }}" style="max-width: 500px;">
      </div>
      <div class="col-sm-6">
        <h1>Edit Files</h1>
        <!-- <h3>it let's you do this</h3> -->
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <h1>Use scripts or the IPython shell</h1>
        <!-- <h3>and this</h3> -->
      </div>
      <div class="col-sm-6">
        <img src="{{ url_for('static', filename='img/screenshot-files-with-output-small.png') }}" style="max-width: 500px;">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <img src="{{ url_for('static', filename='img/screenshot-ggplot.png') }}" style="max-width: 500px;">
      </div>
      <div class="col-sm-6">
        <h1>Plot and Visualize</h1>
        <!-- <h3>and this</h3> -->
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <h1>View Your Data</h1>
        <!-- <h3>and this</h3> -->
      </div>
      <div class="col-sm-6">
        <img src="{{ url_for('static', filename='img/screenshot-view-data-small.png') }}" style="max-width: 500px;">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <img src="{{ url_for('static', filename='img/screenshot-autocomplete-small.png') }}" style="max-width: 500px;">
      </div>
      <div class="col-sm-6">
        <h1>Autocomplete</h1>
        <!-- <h3>and this</h3> -->
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <h1>Help and Documentation</h1>
        <!-- <h3>and this</h3> -->
      </div>
      <div class="col-sm-6">
        <img src="{{ url_for('static', filename='img/screenshot-help.png') }}" style="max-width: 500px;">
      </div>
    </div>
  </div>


  <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
