<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Shortcuts</h4>
    </div>
    <div class="modal-body" style="height: 90%; overflow: scroll;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>windows</th>
            <th>osx</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>tab</td>
            <td>tab</td>
            <td>autocomplete</td>
          </tr>
          <tr>
            <td>ctrl + s</td>
            <td>⌘ + s</td>
            <td>save</td>
          </tr>
          <tr>
            <td>ctrl + ENTER</td>
            <td>⌘ + ENTER</td>
            <td>run highlighted code or current line</td>
          </tr>
          <tr>
            <td>ctrl + 1</td>
            <td>ctrl + 1</td>
            <td>jump to editor</td>
          </tr>
          <tr>
            <td>ctrl + 2</td>
            <td>ctrl + 2</td>
            <td>jump to console</td>
          </tr>
          <tr>
            <td> ctrl-,</td>
            <td>            ⌘-,</td>
            <td>        Show the settings menu</td>
          </tr>
          <tr>
            <td>ctrl-Alt-Up</td>
            <td>       ctrl-Option-Up</td>
            <td>        add multi-cursor above</td>
          </tr>
          <tr>
            <td>              ctrl-Alt-Down</td>
            <td>     ctrl-Option-Down</td>
            <td>        add multi-cursor below</td>
          </tr>
          <tr>
            <td>             ctrl-Alt-Right</td>
            <td>    ctrl-Option-Right</td>
            <td>            add next occurrence to multi-selection</td>
          </tr>
          <tr>
            <td>              ctrl-Alt-Left</td>
            <td>     ctrl-Option-Left</td>
            <td>        add previous occurrence to multi-selection</td>
          </tr>
          <tr>
            <td>       </td>
            <td>ctrl-L</td>
            <td>              center selection</td>
          </tr>
          <tr>
            <td>ctrl-Shift-U</td>
            <td>         ctrl-Shift-U</td>
            <td>          change to lower case</td>
          </tr>
          <tr>
            <td> ctrl-U</td>
            <td>ctrl-U</td>
            <td>          change to upper case</td>
          </tr>
          <tr>
            <td>             Alt-Shift-Down</td>
            <td>  ⌘-Option-Down</td>
            <td>copy lines down</td>
          </tr>
          <tr>
            <td>Alt-Shift-Up</td>
            <td>    ⌘-Option-Up</td>
            <td>  copy lines up</td>
          </tr>
          <tr>
            <td>Delete</td>
            <td>Delete</td>
            <td>delete</td>
          </tr>
          <tr>
            <td>ctrl-Shift-D</td>
            <td>      ⌘-Shift-D</td>
            <td>           duplicate selection</td>
          </tr>
          <tr>
            <td> ctrl-F</td>
            <td>            ⌘-F</td>
            <td>           find</td>
          </tr>
          <tr>
            <td> ctrl-K</td>
            <td>            ⌘-G</td>
            <td>      find next</td>
          </tr>
          <tr>
            <td>ctrl-Shift-K</td>
            <td>      ⌘-Shift-G</td>
            <td>  find previous</td>
          </tr>
          <tr>
            <td>  Alt-0</td>
            <td>     ⌘-Option-0</td>
            <td>       fold all</td>
          </tr>
          <tr>
            <td>             Alt-L, ctrl-F1</td>
            <td>             ⌘-Option-L, ⌘-F1</td>
            <td> fold selection</td>
          </tr>
          <tr>
            <td>   Down</td>
            <td>         Down, ctrl-N</td>
            <td>   go line down</td>
          </tr>
          <tr>
            <td>     Up</td>
            <td>           Up, ctrl-P</td>
            <td>     go line up</td>
          </tr>
          <tr>
            <td>    ctrl-End</td>
            <td> ⌘-End, ⌘-Down</td>
            <td>      go to end</td>
          </tr>
          <tr>
            <td>   Left</td>
            <td>         Left, ctrl-B</td>
            <td>     go to left</td>
          </tr>
          <tr>
            <td> ctrl-L</td>
            <td>            ⌘-L</td>
            <td>     go to line</td>
          </tr>
          <tr>
            <td>             Alt-Right, End</td>
            <td>⌘-Right, End, ctrl-E</td>
            <td> go to line end</td>
          </tr>
          <tr>
            <td>             Alt-Left, Home</td>
            <td>⌘-Left, Home, ctrl-A</td>
            <td>              go to line start</td>
          </tr>
          <tr>
            <td> ctrl-P</td>
            <td>      </td>
            <td>        go to matching bracket</td>
          </tr>
          <tr>
            <td>    PageDown</td>
            <td>   Option-PageDown, ctrl-V</td>
            <td>go to page down</td>
          </tr>
          <tr>
            <td> PageUp</td>
            <td>        Option-PageUp</td>
            <td>  go to page up</td>
          </tr>
          <tr>
            <td>  Right</td>
            <td>        Right, ctrl-F</td>
            <td>    go to right</td>
          </tr>
          <tr>
            <td>   ctrl-Home</td>
            <td>  ⌘-Home, ⌘-Up</td>
            <td>    go to start</td>
          </tr>
          <tr>
            <td>   ctrl-Left</td>
            <td>          Option-Left</td>
            <td>go to word left</td>
          </tr>
          <tr>
            <td>  ctrl-Right</td>
            <td>         Option-Right</td>
            <td>              go to word right</td>
          </tr>
          <tr>
            <td>    Tab</td>
            <td>   Tab</td>
            <td>         indent</td>
          </tr>
          <tr>
            <td>  ctrl-Alt-E</td>
            <td>      </td>
            <td>              macros recording</td>
          </tr>
          <tr>
            <td>ctrl-Shift-E</td>
            <td>      ⌘-Shift-E</td>
            <td>  macros replay</td>
          </tr>
          <tr>
            <td>    Alt-Down</td>
            <td>          Option-Down</td>
            <td>move lines down</td>
          </tr>
          <tr>
            <td> Alt-Up</td>
            <td>            Option-Up</td>
            <td>  move lines up</td>
          </tr>
          <tr>
            <td>          ctrl-Alt-Shift-Up</td>
            <td> ctrl-Option-Shift-Up</td>
            <td> move multicursor from current line to the line...</td>
          </tr>
          <tr>
            <td>        ctrl-Alt-Shift-Down</td>
            <td>    ctrl-Option-Shift-Down</td>
            <td> move multicursor from current line to the line...</td>
          </tr>
          <tr>
            <td>   Shift-Tab</td>
            <td>            Shift-Tab</td>
            <td>        outdent</td>
          </tr>
          <tr>
            <td> Insert</td>
            <td>Insert</td>
            <td>      overwrite</td>
          </tr>
          <tr>
            <td>       ctrl-Shift-Z, ctrl-Y</td>
            <td>⌘-Shift-Z, ⌘-Y</td>
            <td>           redo</td>
          </tr>
          <tr>
            <td>       ctrl-Alt-Shift-Right</td>
            <td>   ctrl-Option-Shift-Right</td>
            <td> remove current occurrence from multi-selection...</td>
          </tr>
          <tr>
            <td>        ctrl-Alt-Shift-Left</td>
            <td>    ctrl-Option-Shift-Left</td>
            <td> remove current occurrence from multi-selection...</td>
          </tr>
          <tr>
            <td> ctrl-D</td>
            <td>            ⌘-D</td>
            <td>    remove line</td>
          </tr>
          <tr>
            <td>  Alt-Delete</td>
            <td>ctrl-K</td>
            <td>            remove to line end</td>
          </tr>
          <tr>
            <td>              Alt-Backspace</td>
            <td>    ⌘-Backspace</td>
            <td>           remove to linestart</td>
          </tr>
          <tr>
            <td>             ctrl-Backspace</td>
            <td>  Option-Backspace, ctrl-Option-Backspace</td>
            <td>              remove word left</td>
          </tr>
          <tr>
            <td> ctrl-Delete</td>
            <td>        Option-Delete</td>
            <td>             remove word right</td>
          </tr>
          <tr>
            <td> ctrl-H</td>
            <td>     ⌘-Option-F</td>
            <td>        replace</td>
          </tr>
          <tr>
            <td>   ctrl-Down</td>
            <td>         ⌘-Down</td>
            <td>              scroll line down</td>
          </tr>
          <tr>
            <td>ctrl-Up</td>
            <td>      </td>
            <td> scroll line up</td>
          </tr>
          <tr>
            <td>       </td>
            <td>      Option-PageDown</td>
            <td>              scroll page down</td>
          </tr>
          <tr>
            <td>       </td>
            <td>        Option-PageUp</td>
            <td> scroll page up</td>
          </tr>
          <tr>
            <td> ctrl-A</td>
            <td>            ⌘-A</td>
            <td>     select all</td>
          </tr>
          <tr>
            <td>ctrl-Shift-L</td>
            <td>         ctrl-Shift-L</td>
            <td>    select all from multi-selection</td>
          </tr>
          <tr>
            <td>  Shift-Down</td>
            <td>           Shift-Down</td>
            <td>    select down</td>
          </tr>
          <tr>
            <td>  Shift-Left</td>
            <td>           Shift-Left</td>
            <td>    select left</td>
          </tr>
          <tr>
            <td>   Shift-End</td>
            <td>            Shift-End</td>
            <td>select line end</td>
          </tr>
          <tr>
            <td>  Shift-Home</td>
            <td>           Shift-Home</td>
            <td>             select line start</td>
          </tr>
          <tr>
            <td>             Shift-PageDown</td>
            <td>       Shift-PageDown</td>
            <td>              select page down</td>
          </tr>
          <tr>
            <td>Shift-PageUp</td>
            <td>         Shift-PageUp</td>
            <td> select page up</td>
          </tr>
          <tr>
            <td> Shift-Right</td>
            <td>          Shift-Right</td>
            <td>   select right</td>
          </tr>
          <tr>
            <td>             ctrl-Shift-End</td>
            <td>   ⌘-Shift-Down</td>
            <td>  select to end</td>
          </tr>
          <tr>
            <td>            Alt-Shift-Right</td>
            <td>  ⌘-Shift-Right</td>
            <td>            select to line end</td>
          </tr>
          <tr>
            <td>             Alt-Shift-Left</td>
            <td>   ⌘-Shift-Left</td>
            <td>          select to line start</td>
          </tr>
          <tr>
            <td>ctrl-Shift-P</td>
            <td>      </td>
            <td>    select to matching bracket</td>
          </tr>
          <tr>
            <td>            ctrl-Shift-Home</td>
            <td>     ⌘-Shift-Up</td>
            <td>select to start</td>
          </tr>
          <tr>
            <td>    Shift-Up</td>
            <td>             Shift-Up</td>
            <td>      select up</td>
          </tr>
          <tr>
            <td>            ctrl-Shift-Left</td>
            <td>    Option-Shift-Left</td>
            <td>              select word left</td>
          </tr>
          <tr>
            <td>           ctrl-Shift-Right</td>
            <td>   Option-Shift-Right</td>
            <td>             select word right</td>
          </tr>
          <tr>
            <td>       </td>
            <td>ctrl-O</td>
            <td>     split line</td>
          </tr>
          <tr>
            <td> ctrl-/</td>
            <td>            ⌘-/</td>
            <td> toggle comment</td>
          </tr>
          <tr>
            <td> ctrl-T</td>
            <td>ctrl-T</td>
            <td>             transpose letters</td>
          </tr>
          <tr>
            <td> ctrl-Z</td>
            <td>            ⌘-Z</td>
            <td>           undo</td>
          </tr>
          <tr>
            <td> Alt-Shift-L, ctrl-Shift-F1</td>
            <td> ⌘-Option-Shift-L, ⌘-Shift-F1</td>
            <td>         unfold</td>
          </tr>
          <tr>
            <td> Alt-Shift-0</td>
            <td>    ⌘-Option-Shift-0</td>
            <td>     unfold all</td>
          </tr>
          <tr>
            <td>  ctrl-Enter</td>
            <td>        ⌘-Enter</td>
            <td>             enter full screen</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal -->
