<ul class="nav nav-tabs">
  <li class="active"><a href="#files" data-toggle="tab">Files</a></li>
  <li><a href="#plots" data-toggle="tab">Plots</a></li>
  <li><a href="#packages" data-toggle="tab">Packages</a></li>
  <li><a href="#help" data-toggle="tab">Help</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active in" id="files">
    <div id="file-list" class="list-group">
      <a id="file-up_dir" data-parnet-slug="" data-dirname="top_dir" href="#" class="list-group-item showdir" >
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;..
      </a>
      <!-- directories -->
      {% for dir in file_tree %}
        {% for f in dir %}
          {% if f.isFile==False %}
            <a id="file-{{ f.dirname }}" data-parnet-slug="{{ f.parentslug }}" data-dirname="{{ f.dirslug }}" href="#" class="list-group-item {{ f.parentslug }} showdir">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;
              {{ f.dirname }}
            </a>
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!-- files -->
      {% for dir in file_tree %}
        {% for f in dir %}
          {% if f.filename %}
            <a id="file-{{ f.filename }}" data-filename="{{ f.dirname }}/{{f.filename }}" href="#" class="list-group-item openfile {{ f.dirslug }} file">{{ f.filename }}</a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane" id="plots">
    <a id="prev-plot" class="label label-primary" title="Prevous Plot"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></a>
    <a id="next-plot" class="label label-primary" title="Next Plot"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a>
    <a id="zoom-plot" onclick="zoomImage();" class="label label-default" title="Zoom In"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
    <a id="export-plot" href="" class="label label-default" title="Export Plot" download><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a>
    <a id="trash-plot" class="label label-default" title="Delete Plot"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
    <br>
    <img id="current-plot" style="max-width: 100%;" />
  </div>
  <div class="tab-pane" id="packages" style="overflow: auto;">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>package</th>
          <th>version</th>
        </tr>
      </thead>
      <tbody>
        {% for pkg in packages %}
        <tr>
          <td>{{ pkg.key }}</td>
          <td>{{ pkg.version }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="help">
    <pre style="font-size: 10px; background-color: #fdfdfd; overflow: auto;" id="help-content"><i>run help(...) for more info</i></pre>
  </div>
</div>
</div>
