<ul class="nav nav-tabs">
  <li class="active"><a href="#environment" data-toggle="tab">Data Frames</a></li>
  <li><a href="#history" data-toggle="tab">History</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active in top-right" id="environment">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>variable</th>
          <th>type</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="vars">
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="history">
    <pre style="font-size: 10px; background-color: #fdfdfd;" class="top-right history" id="history-trail"></pre>
  </div>
</div>
