<div id="top-right" class="" style="border-right: 1px solid #dddddd;">
  <!-- tab headers -->
  <ul id="editorsTab" class="nav nav-tabs">
    <button id="run-btn" title="Run script" class="close" type="button" style="color: steelblue; padding-right; 8px;">
      <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
    </button>
    <button id="reset-btn" title="Reset environment" class="close" type="button" style="color: red; padding-right: 8px;">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    </button>
    <button id="knit-btn" title="Knit Markdown" class="close" type="button" style="color: coral; padding-right: 8px;">
      <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
    </button>
    <li class="active">
      <a class="editor1-tab" href="#tab1" data-toggle="tab" aria-expanded="false"><span class="name">Untitled.py</span>&nbsp;
        <button class="close closeTab" type="button" style="color: red;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      </a>
    </li>
    <li><a href="#" id="add-tab"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
  </ul>
  <!-- end tab headers -->

  <div id="editors" class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="editor" id="editor1"></div>
    </div>
  </div>
</div>