.ace-pane {
  height: 100%;
}

div.ace_tooltip {
  background: initial;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
  max-height: 30%;
  overflow-x: auto;
}

div.ace_editor.ace_autocomplete {
  width: 320px;
}

.rodeo-ace-pane-docstring {
  background: #f3f9ff;
  border: 1px solid #cde7fe;
  padding: 3px;
  margin-left: 3px;
  box-shadow: 2px 5px 10px #aaafb3;
  transition: opacity 0.2s;
  white-space: pre-wrap;
  font-size: smaller;
}
